body {
    font-family: Verdana, sans-serif;
    background-color:khaki
}

.selection {
    list-style-type: none;
    text-align: center;
    font-size: 35px;
}

.rice-picture{
    width: 300px;
}

.hibachi-picture{
    width: 300px;
}

h1{
    font-size: 48px;
    text-align: center;
}